<!DOCTYPE html>
<html lang="en" ng-app="linkhubApp">
<head>
    <meta charset="UTF-8">
    <title>LinkHub</title>
    <link rel="stylesheet" href="vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="vendor/jquery-2.1.4.min.js"></script>
    <script src="vendor/angular.min.js"></script>
</head>
<body ng-controller="linkhubCtrl">

<div ng-show="loginState == 0">
    Checking login state...
</div>
<div ng-show="loginState == 1">
    Name:<input type="text" value="Name" ng-model="linkTitle"/>
    <br/>
    Tags:<input type="text" value="Tag" ng-model="linkTags"/>
    <br/>
    URL: {{ linkUrl }}
    Favicon: {{ linkFavicon }}
    <br/>
    <a href="#">Confirm</a>
    <a href="#" ng-click="removeLink()">Remove</a>
</div>
<div ng-show="loginState == 2">
    <a href="#" ng-click="openNewTab('login')">Login</a>
    OR
    <a href="#" ng-click="openNewTab('register')">Register</a>
</div>

<script src="js/common.js"></script>
<script src="js/app.js"></script>

</body>
</html>