<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_name }} MostLike.Link</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?4b0fdad2c7b0d206cee80aea042cce57";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>

<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}">MostLike.Link</a></li>
    <li><a href="{{ url_for('user_index', blog_id=current_user.blog_id) }}">{{ current_user.blog_id }}</a></li>
    <li><a href="#">Admin</a></li>
    <li class="active">Users</li>
</ol>

{% if current_user.role == 1 %}

{% block body %}
{% endblock %}

{% else %}
    Hi , MostLike.Link !
{% endif %}
</body>
</html>
