<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_name }} MostLike.Link</title>

    <script src="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <link href="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?4b0fdad2c7b0d206cee80aea042cce57";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>
<body>

<div class="ui breadcrumb">
  <a class="section" href="{{ url_for('index') }}">
      MostLike.Link
  </a>
  <div class="divider"> / </div>
  <a class="section" href="{{ url_for('user_index', blog_id=current_user.blog_id) }}">
      {{ current_user.blog_id }}
  </a>
  <div class="divider"> / </div>
  <div class="active section">Admin</div>
</div>

{% if current_user.role == 1 %}

{% block body %}
{% endblock %}

{% else %}
    Hi , MostLike.Link !
{% endif %}
</body>
</html>
