<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MostLike.Link</title>
    <meta name="description" content="Most Like Link"/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

      <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

      <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?4b0fdad2c7b0d206cee80aea042cce57";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  </head>
  <body>
    <div class="container">
      <div class="most-headline">
        <h1 class="most-logo">
          <div class="logo"></div>
            MostLike.Link
          <small>最喜爱的链接 (beta)</small>
        </h1>

      <h4>
          {% if not current_user.is_authenticated %}
              <a href="{{ url_for('login') }}" class="btn btn-success">
              通过GitHub账号登录
              </a>
          {% else %}
              <a href="{{ url_for('user_index', blog_id=current_user.blog_id)}}" class="btn btn-success">
                  进入你的 MostLike.Link
              </a>
              <a href="{{ url_for('logout') }}" class="btn btn-link">
                退出登录
              </a>
          {% endif %}

      <a href="https://github.com/everettjf/mostlike.link" target="_blank" class="btn btn-link">关于</a>
      </h4>
      <div class="alert alert-success" role="alert">
          <a href="https://chrome.google.com/webstore/detail/mostlikelink/cmdbeghbiegcpgkgnhcbakkfmdphdcpo" target="_blank">
              点此通过Chrome Web Store安装扩展
          </a>
          或
          <a href="https://github.com/everettjf/mostlike.link/raw/master/chromeext/mostlikelink.crx" target="_blank">
              下载Chrome扩展文件
          </a>
          拖动到chrome://extensions
      </div>
      </div>
    </div>
  </body>
</html>

