<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mostlink.link</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <script src="{{ url_for('static',filename='vendor/jquery-2.1.4.min.js') }}"></script>

</head>
<body>

<p>
    | mostlike.link |
</p>

<p>
    {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}">login with GitHub</a>
    {% else %}
        <a href="{{ url_for('user_index', blog_id=current_user.blog_id)}}">enter</a>
        <a href="{{ url_for('logout') }}">logout</a>
    {% endif %}
</p>

<p>
    {% for message in get_flashed_messages() %}
        <br/> {{ message }}
    {% endfor %}
</p>

</body>
</html>