<!DOCTYPE html>
<html lang="en" ng-app="mostlikelinkApp">
<head>
    <meta charset="UTF-8">
    <title>{{ user_name }} MostLike.Link</title>

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>

    <link href="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?4b0fdad2c7b0d206cee80aea042cce57";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body ng-controller="mostlikelinkCtrl">

<div class="ui grid">
    <div class="sixteen wide column center aligned">
        <div class="ui statistic">
            <div class="value">
                [[totalLinkCount]]
            </div>
            <div class="label">{{ user_name }} 's MostLike.Link</div>
        </div>
        <br/>
        <div class="ui breadcrumb">
            <a href="{{ url_for('index') }}" class="section">Home</a>
            <div class="divider">|</div>
            <a href="{{ url_for('user_index',blog_id=blog_id) }}" class="section">{{ user_name }}</a>
        </div>
    </div>

</div>

<div class="ui message" ng-if="topLinks.length > 0">
    <div class="ui mini horizontal divided list">
      <div class="item" ng-repeat="link in topLinks">
          <img class="ui image" src="[[ link.favicon ]] " width="16px" height="16px" ng-if="link.favicon != '' ">
        <div class="content">
          <div class="header">[[link.title]]</div>
        </div>
      </div>
    </div>
</div>

<div class="ui grid">
    <div class="four wide column">
        <div class="ui violet message" ng-if="filterTags.length > 0">
            Filter:
            <i ng-click="clearFilterTag()" class="remove icon"></i>

            <div class="ui list">
                <div class="item" ng-repeat="tag in filterTags">
                    <a ng-click="removeFilterTag(tag)">
                        [[tag.name]]
                    </a>
                </div>
            </div>
        </div>

        <div class="ui purple message" ng-if="allTopics.length > 0 ">
            Topics:
            <div class="ui list">
              <div class="item" ng-repeat="tag in allTopics">
                  <a ng-click="addFilterTag(tag)">[[tag.name]]</a>
              </div>
            </div>
        </div>

        <div class="ui olive message">
            Tags:
            <div class="ui list">
                <div class="item" ng-repeat="tag in allTags">
                    <a ng-click="addFilterTag(tag)">[[tag.name]]</a>
                </div>
            </div>
        </div>


    </div>
    <div class="twelve wide column">
        <span ng-if="allLinks.length == 0">Empty</span>

        <div class="ui list divided">
          <div class="item" ng-repeat="link in allLinks">
              <img class="ui image" src="[[ link.favicon ]] " width="16px" height="16px">
            <div class="content">
              <a class="header" ng-click="clickLink(link)">
                  [[link.title]]
              </a>
              <div class="description">
                  [[link.description]] &nbsp;
              </div>
            </div>
          </div>
        </div>

    </div>
</div>

{% if current_user.is_authenticated and blog_id == current_user.blog_id %}
<div class="ui divider"></div>
<div class="ui three column grid" >
  <div class="column">
      MostClick:
     <div class="item" ng-repeat="link in mostClickLinks">
         <a ng-click="clickLink(link)">
             ([[link.click_count]])
             [[link.title]]
         </a>
     </div>
  </div>
  <div class="column">
      LatestClick:
      <div class="item" ng-repeat="link in latestClickLinks">
          <a ng-click="clickLink(link)">
              [[link.title]]
          </a>
      </div>
  </div>
  <div class="column">
      NeverClick:
      <div class="item" ng-repeat="link in neverClickLinks">
          <a ng-click="clickLink(link)">
              [[link.title]]
          </a>
      </div>
  </div>
</div>
{% endif %}

<div class="ui divider"></div>
<div class="ui grid">
  <div class="sixteen wide column center aligned">
      <div class="ui breadcrumb">
          <a href="{{ url_for('index') }}" class="section">MostLike.Link</a>
          {% if current_user.is_authenticated and blog_id == current_user.blog_id %}
          <div class="divider">|</div>
          <a href="{{ url_for('links_export') }}" target="_blank" class="section">Export</a>

          {% if current_user.role == 1 %}
              <div class="divider">|</div>
              <a href="{{ url_for('admin_users') }}" class="section">Users</a>
          {% endif %}

          <div class="divider">|</div>
          <a href="{{ url_for('logout') }}" class="section">Logout</a>
          {% endif %}
      </div>
  </div>
</div>

<script>
    var blogId ='{{ blog_id }}';
    var baseUrl = '{{ base_url }}';
</script>
<script src="{{ url_for('static',filename='js/app.js')}}"></script>

</body>
</html>

