<!DOCTYPE html>
<html lang="en" ng-app="mostlikelinkApp">
<head>
    <meta charset="UTF-8">
    <title>{{ user_name }} MostLike.Link</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?4b0fdad2c7b0d206cee80aea042cce57";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body ng-controller="mostlikelinkCtrl">

<ol class="breadcrumb">
  <li><a href="{{ url_for('index') }}">MostLike.Link</a></li>
  <li class="active">{{ user_name }}</li>
</ol>

<h6 ng-if="topLinks.length > 0">置顶</h6>
<span ng-repeat="link in topLinks">
    <button type="button" class="btn btn-link" ng-click="clickLink(link)">
        <img ng-if="link.favicon != '' " src="[[ link.favicon ]]" alt="" width="16px" height="16px"/>
        [[link.title]]
    </button>
</span>
<hr ng-if="topLinks.length > 0" />

<h6>标签</h6>
<span ng-repeat="tag in allTags">
    <button type="button" class="btn btn-link" ng-click="addFilterTag(tag)">[[tag.name]]</button>
</span>

<hr/>
<div ng-if="filterTags.length > 0">
    <h6>过滤标签
        <button type="button" class="btn btn-link" ng-click="clearFilterTag()">
           [清空]
        </button>
    </h6>
    <span ng-repeat="tag in filterTags">
        <button type="button" class="btn btn-link" ng-click="removeFilterTag(tag)">
            [[tag.name]]
        </button>
    </span>
</div>

<h6>链接</h6>
<span ng-if="allLinks.length == 0">没有可以显示的链接哦</span>
<span ng-repeat="link in allLinks">
    <button type="button" class="btn btn-link" ng-click="clickLink(link)">
        <img ng-if="link.favicon != '' " src="[[ link.favicon ]]" alt="" width="16px" height="16px"/>
        [[link.title]]
    </button>
</span>

{% if current_user.is_authenticated %}

<hr/>

<h6>点击最多的链接</h6>
<span ng-repeat="link in mostClickLinks">
    <button type="button" class="btn btn-link" ng-click="clickLink(link)">
        <img ng-if="link.favicon != '' " src="[[ link.favicon ]]" alt="" width="16px" height="16px"/>
        ([[link.click_count]])
        [[link.title]]
    </button>
</span>

<h6>最近点击的链接</h6>
<span ng-repeat="link in latestClickLinks">
    <button type="button" class="btn btn-link" ng-click="clickLink(link)">
        <img ng-if="link.favicon != '' " src="[[ link.favicon ]]" alt="" width="16px" height="16px"/>
        [[link.title]]
    </button>
</span>

<h6>点击最少的链接</h6>
<span ng-repeat="link in neverClickLinks">
    <button type="button" class="btn btn-link" ng-click="clickLink(link)">
        <img ng-if="link.favicon != '' " src="[[ link.favicon ]]" alt="" width="16px" height="16px"/>
        [[link.title]]
    </button>
</span>


<hr/>
<ol class="breadcrumb">
    <li><a href="{{ url_for('links_export') }}" target="_blank">导出所有链接</a></li>
</ol>

{% if current_user.role == 1 %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('admin_users') }}">Admin/Users</a></li>
    </ol>
{% endif %}

{% endif %}

<script>
    var blogId ='{{ blog_id }}';
    var baseUrl = '{{ base_url }}';
</script>
<script src="{{ url_for('static',filename='js/app.js')}}"></script>

</body>
</html>

