<!doctype html>
<html lang="zh-CN" ng-app="extensionApp">
<head>
    <meta charset="utf-8">
    <title>LinkShare</title>
    <link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/popup.css" rel="stylesheet">

    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script> 

</head>
<body>
    <div id="extensionCtrl" class="container" ng-controller="ExtensionCtrl">
      <div id="topTab" role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Active Tab</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">All Tab</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Bookmarks</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">User</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <span>{{linkStatus}}</span> <br/>

            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">URL</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="URL" ng-model="linkURL">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="Title" ng-model="linkTitle">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Tags</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="Tags" ng-model="linkTagString">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">常用Tag</label>
                <div class="col-sm-10">
                <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" ng-click="appendTag('博客');">博客</button>
  <button type="button" class="btn btn-default" ng-click="appendTag('技术');">技术</button>
  <button type="button" class="btn btn-default" ng-click="appendTag('论坛');">论坛</button>
  <button type="button" class="btn btn-default" ng-click="appendTag('人文');">人文</button>
  <button type="button" class="btn btn-default" ng-click="appendTag('每日必看');">每日必看</button>
</div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" ng-click="addLink()" class="btn btn-default">Save Link</button>
                  <span>{{addResult}}</span>
                </div>
              </div>
          </form>

          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
                  
            <button  class="btn btn-default" ng-click="batchAddLink()">Save All Tab Link</button>
            <span>{{batchAddResult}}</span>

            <ul class="list-group">
              <li class="list-group-item" ng-repeat="l in allTabLinks">
                  {{l.Title}} 
              </li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            

            <button ng-click="importAllBookmarks()"  class="btn btn-default" >Import All Bookmarks</button>
            <span>{{importMessage}}</span>

          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
                  

            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="inputEmail">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="inputPassword">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" ng-click="signIn()">Sign in</button>
                  <button type="submit" class="btn btn-default" ng-click="signOut()">Sign Out</button>
                  <span>{{signMessage}}</span>
                </div>
              </div>
            </form>


          </div>
        </div>

      </div>
    </div>

    <script src="js/popup.js"></script>
</body>
</html>
