<!doctype html>
<html lang="zh-CN" ng-app="linkApp" ng-csp>
<head>
    <meta charset="utf-8">
    <title>LinkHub</title>
    <link href="components/semantic/dist/semantic.min.css" rel="stylesheet">
    <link href="components/angular/angular-csp.css" rel="stylesheet">
    <link href="css/popup.css" rel="stylesheet">

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-cookies/angular-cookies.min.js"></script>
    <script src="components/semantic/dist/semantic.min.js"></script>

    <style type="text/css">
        .column {
            max-width: 350px;
        }
    </style>
</head>
<body ng-controller="LinkIndexCtrl">

<div id="helpForScopeGetter" class="ui middle aligned center aligned grid" ng-hide="hasSession">
    <div class="column">
        <form class="ui large form" >

            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Email地址" ng-model="email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="密码" ng-model="password">
                    </div>
                </div>

                <div class="field">

                    <div class="ui slider checkbox">
                        <input type="checkbox" name="remember" ng-model="remember">
                        <label>记住我</label>
                    </div>
                </div>

                <button type="button" class="ui fluid button green" ng-click="login()">登录</button>
            </div>
        </form>
        <div class="ui error message" ng-show="errorMessage != '' ">
            <ul class="list">
                <li>{{errorMessage}}</li>
            </ul>
        </div>

        <div class="ui message">
            没有账号？ <a class="btn btn-link" ng-click="openTabSite('/auth/register')">注册</a> &nbsp;&nbsp;
            <a class="btn btn-link" ng-click="openTabSite('/password/email')">忘记密码？</a>
        </div>
    </div>
</div>

<div ng-show="hasSession">
    <div class="ui secondary pointing menu">
        <a class="item active" href="#/">
            当前页
        </a>
        <a class="item" href="#/tab">
            标签页
        </a>
        <a class="item" href="#/more">
            更多
        </a>
        <div class="right menu">
            <a class="ui item" ng-click="openTabSite('/')">
                >首页
            </a>
            <a class="ui item" ng-click="openTabSite('/home')">
                >我的
            </a>
        </div>
    </div>
    <div class="ui segment">
        <div ng-view></div>
    </div>
</div>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/ui.js"></script>

</body>
</html>
