
<span ng-hide="isUserSignin">
<a href="/my#/signin">请登录</a>
，
<a href="/my#/signup">没有账号？注册</a>
</span>

<div ng-show="isUserSignin">
<h2>Group Links</h2>
<div class="row">
  <div ng-repeat="g in groups" class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{g.Name}}</h3>
      </div>
      <div class="panel-body">

<span ng-repeat="l in g.Links ">
    <span
     ng-mouseenter="isShowMore=true"
     ng-mouseleave="isShowMore=false"
     ng-init="isShowMore=false"
     >
    <a class="btn btn-default" role="button" href="{{l.Basic.URL}}" target="_blank" ng-click="linkClick(l)">
        {{l.Basic.Title}}
    </a>

    <button ng-show="isShowMore"  class="btn btn-success"  ng-click="linkMoreClick(l);">More</button>
    </span>
 </span>
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
</div>
<div class="modal fade" id="linkMoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Link Detail {{linkDetailMessage}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title-name" class="control-label">Title:</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Title" ng-model="linkDetailTitle">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Confirm</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="url-name" class="control-label">URL:</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="URL" ng-model="linkDetailURL">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Confirm</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="tags-name" class="control-label">Tags:</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Tags" ng-model="linkDetailTags">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Confirm</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="createtime-name" class="control-label">Create Time:</label>
            <span class="label label-default">{{linkDetailCreateTime | formatTimeStamp}}</span>
          </div>
          <div class="form-group">
            <label for="clickcount-name" class="control-label">Click Count:</label>
            <span class="label label-default">{{linkDetailClickCount}}</span>
          </div>
          <div class="form-group">
            <label for="clicktime-name" class="control-label">Last Click Time:</label>
            <span class="label label-default">{{linkDetailLastClickTime | formatTimeStamp}}</span>
          </div>
          <div class="form-group">
            <label for="group-name" class="control-label">Add Group:</label>
            <div class="btn-group">
              <button type="button" class="btn btn-default"
              ng-click="removeLinkFromGroup(linkDetailID)"
              >None</button>
              <button 
              ng-repeat="g in linkDetailAllGroups"
              type="button" 
              class="btn btn-default"
              ng-click="addLinkToGroup(g.ID,linkDetailID)"
              >{{g.Name}}</button>
            </div>
          </div>
          <div class="form-group">
            <label for="clicktime-name" class="control-label">Trash:</label>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="trashLink(linkDetailID);">Move To Trash</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<h2>Top Click Links</h2>

<span ng-repeat="l in topClickLinks ">
    <span
     ng-mouseenter="isShowMore=true"
     ng-mouseleave="isShowMore=false"
     ng-init="isShowMore=false"
     >
    <a class="btn btn-default" role="button" href="{{l.Basic.URL}}" target="_blank" ng-click="linkClick(l)">
      {{l.ClickCount}} | {{l.Basic.Title}}
    </a>
    <button ng-show="isShowMore"  class="btn btn-success"  ng-click="linkMoreClick(l);">More</button>
    </span>
</span>

<h2>All Links</h2>
<div class="form-group has-success has-feedback">
  <input type="text" placeholder="Search" ng-model="searchString" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="inputSuccess2Status" class="sr-only">(success)</span>
</div>

<span ng-repeat="l in links | filter:searchString:comparatorLike">
    <span
     ng-mouseenter="isShowMore=true"
     ng-mouseleave="isShowMore=false"
     ng-init="isShowMore=false"
     >
    <a class="btn btn-default" role="button" href="{{l.Basic.URL}}" target="_blank" ng-click="linkClick(l)">
        {{l.Basic.Title}}
    </a>

    <button ng-show="isShowMore"  class="btn btn-success"  ng-click="linkMoreClick(l);">More</button>
    </span>
 </span>

 <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<hr/>

<h2>Top Never Click Links</h2>
<span ng-repeat="l in topNeverClickLinks ">
    <span
     ng-mouseenter="isShowMore=true"
     ng-mouseleave="isShowMore=false"
     ng-init="isShowMore=false"
     >
    <a class="btn btn-default" role="button" href="{{l.Basic.URL}}" target="_blank" ng-click="linkClick(l)">
       {{l.LastClickTime | formatTimeStamp}} | {{l.Basic.Title}}
    </a>
    <button ng-show="isShowMore"  class="btn btn-success"  ng-click="linkMoreClick(l);">More</button>
    </span>
</span>

<h2>Tags</h2>
<span ng-repeat='t in tags'>
{{t.Name}}
</span>

 <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<hr/>
<h2>New Link</h2>
<span>{{linkMessage}}</span>
<form class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">URL</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input class="form-control" type="text" id="formGroupInputSmall" placeholder="URL" ng-model="linkURL">
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm"  ng-click="processURL()">Analyze</button> 
        </span>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Title</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Title" ng-model="linkTitle">
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Tags</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Tag1 Tag2 Tag3" ng-model="linkTagString">
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formGroupInputSmall"></label>
    <div class="col-sm-10">
        <button class="btn btn-default"  ng-click="addLink()">Add Link</button> 
    </div>
  </div>
</form>

<h2>New Group</h2>
<span>{{groupMessage}}</span>
<form class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Group Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Group Name" ng-model="groupName">
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formGroupInputSmall"></label>
    <div class="col-sm-10">
        <button class="btn btn-default"  ng-click="addGroup()">Add Group</button>  
    </div>
  </div>


  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Remove Group</label>
    <div class="col-sm-10">
      Click To Remove : 
      <button 
      ng-repeat="g in linkDetailAllGroups"
      type="button" 
      class="btn btn-default"
      ng-click="removeGroup(g.ID)"
      >{{g.Name}}</button>
    </div>
  </div>
</form>

</div>



