<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkHub</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <script src="{{ url_for('static',filename='vendor/jquery-2.1.4.min.js') }}"></script>

</head>
<body>

| LinkHub |

{% if not current_user.is_authenticated %}
    <a href="{{ url_for('login') }}">Login</a>
{% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
{% endif %}

{% for message in get_flashed_messages() %}
    <br/> {{ message }}
{% endfor %}

{% block body %}
{% endblock %}

</body>
</html>