<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my mostlike.link</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <script src="{{ url_for('static',filename='vendor/jquery-2.1.4.min.js') }}"></script>

</head>
<body>

{% for message in get_flashed_messages() %}
    <br/> {{ message }}
{% endfor %}

{% for tag in tags %}
    {{ tag.name }}
    &nbsp;&nbsp;
{% endfor %}


<hr/>

{% for post in posts %}
    <a href="{{ post.url }}" target="_blank">
        {{ post.title }}
    </a>
    &nbsp;&nbsp;
{% endfor %}

</body>
</html>

