{% extends 'user_manage_layout.html' %}

{% block body %}
    <div class="ui list">
        {% for user in users %}
      <div class="item">
        <img class="ui avatar image" src="{{ user.github_avatar_url }}">
        <div class="content">
          <a class="header">{{ user.github_name }}</a>
          <div class="description">
              <a href="{{ user.github_url }}" target="_blank">{{ user.github_url }}</a>
              |
              <a class="section" href="{{ url_for('user_index', blog_id=user.blog_id) }}" target="_blank">
                  {{ url_for('user_index',blog_id=user.blog_id) }}
              </a>
              |
              {{ user.email }}
          </div>
        </div>
      </div>
        {% endfor %}
    </div>

{% endblock %}
