<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MostLike.Link</title>
    <meta name="description" content="Most Like Link"/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.js"></script>

    <link href="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">

    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?4b0fdad2c7b0d206cee80aea042cce57";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </head>
<body>

<div class="ui equal width padded grid">
  <div class="row center aligned">
    <div class="column">
        <div class="ui huge statistic">
          <div class="value">
              {{ total_link_count_string }}
          </div>
          <div class="label">MostLike.Link(beta)</div>
        </div>
        <br/>
        <div class="ui breadcrumb">
          {% if not current_user.is_authenticated %}
              <a href="{{ url_for('login') }}" class="section">
              Login
              </a>
          {% else %}
              <a href="{{ url_for('user_index', blog_id=current_user.blog_id)}}" class="section">
              Enter Your MostLike.Link
              </a>
          {% endif %}

          <span class="divider">|</span>

          <a href="https://chrome.google.com/webstore/detail/mostlikelink/cmdbeghbiegcpgkgnhcbakkfmdphdcpo" target="_blank">
              Install Chrome Extension
          </a>

          <span class="divider">|</span>
          <a href="https://github.com/everettjf/mostlike.link" target="_blank" class="section">About</a>

        </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
        <div class="ui info message">
            Enjoy sharing the links !
        </div>

        <div class="ui items divided">
           {% for user in star_users %}
          <div class="item">
            <a class="ui tiny image">
              <img src="{{ user.avatar }}">
            </a>
            <div class="content">
              <a class="header" href="{{ url_for('user_index',blog_id=user.blog_id) }}">
                  {{ user.github_name }}
                    <div class="ui mini horizontal statistic">
                      <div class="value">
                          {{ user.link_count_string }}
                      </div>
                    </div>
              </a>
              <div class="description">
                <p>
                    {% for topic in user.topics %}
                        <a href="{{ url_for('user_index',blog_id=user.blog_id) }}">
                        {{ topic.name }}
                        </a>
                        &nbsp;
                    {% endfor %}
                </p>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
    </div>
  <div class="ui vertical divider">
      {{ total_link_count_string[-1] }}
  </div>
    <div class="column">
        <div class="ui list divided">
          {% for link in latest_add_links %}
          <div class="item">
            <img class="ui avatar image" src="{{ link.favicon }}" width="16px" height="16px">
            <div class="content">
              <a class="header" href="{{ link.url }}" target="_blank">
                  {{ link.title }}
              </a>
              <div class="description">
                  {{ link.description }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>

<div class="ui grid">
    <div class="sixteen wide column center aligned">
        http://mostlike.link 2015
    </div>
</div>

  </body>
</html>

