{% extends 'user_manage_layout.html' %}

{% block body %}

<form class="ui form" action="{{ url_for('user_manage_profile') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="ui segment">
    <div class="field">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="private" tabindex="0" class="hidden">
        <label>Private Blog , No one except me can view my links</label>
      </div>
    </div>
  </div>

  <button class="ui button" type="submit">Update</button>
</form>

    <script>
    $('.ui.checkbox').checkbox(
            {% if current_user.private != 0 %}
            'check'
    {% else %}
               'uncheck'
    {% endif %}
            );
    </script>

{% endblock %}
