<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_name }} snows.link</title>

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.js"></script>
    <link href="//cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}">

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?4b0fdad2c7b0d206cee80aea042cce57";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>

<body>

<div class="ui secondary pointing menu">
  <a class="item" href="{{ url_for('user_index', blog_id=current_user.blog_id) }}">
    Home
  </a>
  <a class="item" href="{{ url_for('user_manage_tags') }}">
      Tags
  </a>
  <a class="item">
      Links
  </a>
    <a class="item" href="{{ url_for('user_manage_profile') }}">
        Profile
    </a>
    <a class="item" href="{{ url_for('links_export') }}" target="_blank" >
        Export
    </a>

    {#  admin #}
    {% if current_user.role == 1 %}
        <a class="item" href="{{ url_for('admin_users') }}" >
            Users
        </a>
    {% endif %}

  <div class="right menu">
      <a class="ui item" href="{{ url_for('logout') }}">
          Logout
      </a>
  </div>
</div>

{% block body %}
{% endblock %}

{% if current_user.role == 1 %}
{#    admin #}
{% endif %}
</body>
</html>
