<!DOCTYPE html>
<html lang="en" ng-app="snowsApp">
<head>
    <meta charset="UTF-8">
    <title>snows.link</title>
    <link rel="stylesheet" href="vendor/semantic/semantic.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="vendor/jquery-2.1.4.min.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
</head>
<body ng-controller="snowsCtrl">

<div class="ui breadcrumb">
  <a class="section" ng-click="openBaseSite()">snows.link</a>
  <div class="divider"> / </div>
  <a class="section" ng-click="openBlog()" ng-if="blog_id != '' ">{{ blog_id }}</a>
</div>
<div class="ui divider"></div>

<div class="ui warning message" ng-show="errorInfo != ''">
    {{ errorInfo }}
</div>

<div class="ui info message" ng-show="loginState == 0">
    <button class="ui basic loading button">Checking login status</button>
</div>

<form class="ui form" ng-show="loginState == 1">
  <div class="field">
    <label>Title</label>
    <input type="text" id="title" placeholder="Title" ng-model="linkTitle" ng-keydown="onKeyDownTitle($event)">
  </div>
  <div class="field">
    <label>Tags</label>
    <input type="text" id="tags" placeholder="Tags" ng-model="linkTags" ng-keydown="onKeyDownTags($event)">
  </div>
    <div class="ui info message">
        <span ng-repeat="tag in recommendTopics">
            <a href="#" ng-click="appendTag(tag)">{{ tag }}</a>
        </span>
        <br ng-if="recommendTopics.length > 0"/>

        <span ng-repeat="tag in recommendTags">
            <a href="#" ng-click="appendTag(tag)">{{ tag }}</a>
        </span>
    </div>
    <div class="field">
        <label>Description</label>
        <textarea id="description" placeholder="Description" rows="3" ng-model="linkDescription"></textarea>
    </div>
    <div class="ui two column grid">
        <div class="column">
            <button type="button" class="ui button" ng-click="removeLink()">Remove</button>
        </div>
        <div class="column right aligned">
            <button type="button" class="ui primary button" ng-click="updateLink()">Update</button>
        </div>
    </div>
</form>

<div ng-show="loginState == 2">
    <button id="trylogin" type="button" class="ui primary button" ng-click="openNewTab('login')">Login Through GitHub</button>
</div>

<script src="js/common.js"></script>
<script src="js/app.js"></script>

</body>
</html>