<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Register</h2>
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

{% if error %}<p>{{ error }}</p>{% endif %}

<form action="{{ url_for('register') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    Email:<input type="email" name="email"/> <br/>
    Password:<input type="password" name="password"><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>